<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>member</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body style="background-color:#f7f9f9">
        <div class="title">歡迎光臨</div>
        <div class="text">{{ name }}，歡迎登入系統</div>
        <div  class="form">
            <form action="signout">
                <div class="button1"><button >登出</button></div>
            </form>
        </div>
        <hr>
        <div class="text">快來留言吧</div>
        <div  class="form">
            <form action="/message" method="post">
                <div class="input">留言: <input type="text" name="message"/></div>
                <div class="button"><button>送出</button></div>
            </form>
        </div>
        <hr>
        <div class="text">查詢會員姓名</div>
        <!-- <div  class="form">
            <form action="/api/member">
                <div class="input">查詢：<input type="text" name="username"/></div>
                <div class="button"><button onclick="submit();">查詢</button></div>
            </form>
        </div> -->
        <div  class="form">
            <div>
                <div class="input">查詢：<input type="text" id="username"/></div>
                <div class="button"><button onclick="get();">查詢</button></div>            
                <div class="getUsername"></div>
            </div>             
        </div>        
        <hr>
        <div class="text">更新我的姓名</div>
        <div  class="form">
            <div>
                <div class="input">更新：<input type="text" id="name"/></div>
                <div class="button"><button onclick="patch();">更新</button></div>            
                <div class="updateName"></div>
            </div>             
        </div>        
        <hr>
        <div class="text">留言板</div>
            {% for i in data %}
            <div class="message">{{ i.name }}:{{ i.content }}</div>
            {% endfor %}
    </body>
    <script>
        function get(){
            let username=document.getElementById("username").value;
            let url="http://127.0.0.1:3000/api/member?username="+username;
            fetch(url)
            .then(function(response){
                return response.json();
            })
            .then(function(data){
                if (data.data!=null) {
                    let getUsernameText=data.data[0]["name"]+"("+data.data[0]["username"]+")";
                    let getUsername=document.querySelector(".getUsername");
                    getUsername.innerHTML=getUsernameText;
                } else {
                    let getUsernameText="找不到帳號";
                    let getUsername=document.querySelector(".getUsername");
                    getUsername.innerHTML=getUsernameText;                    
                };
                // let newGetUsername=document.createElement("div");
                // newGetUsername.appendChild(getUsernameText);
                // target[2].replaceChild(newGetUsername,oldGetUsername);
                // console.log(target[2])
            });
        };       
        function patch(){
            let username=document.getElementById("name").value;
            let url="http://127.0.0.1:3000/api/member";  
            let data={
                name : username
            };
            
            fetch(url,{
                method: "PATCH",
                body: JSON.stringify(data),
                cache: "no-cache",
                headers:{
                    "Accept":"application/json",
                    "Content-Type":"application/json"
                }               
            })       
            .then(function(response){
                return response.json();
            })
            .then(function(ok){
                if (ok.ok==true) {
                    let updateText="更新成功";
                    let update=document.querySelector(".updateName");
                    update.innerHTML=updateText;                      
                };
                if (error.error==true) {
                    let updateText="更新失敗";
                    let update=document.querySelector(".updateName");
                    update.innerHTML=updateText;                      
                };                
            });
        };
        //     let username=document.getElementById("username").value;
        //     let url="http://127.0.0.1:3000/api/member";
        //     fetch(url,{
        //         method:"PATCH",
        //         headers:new Headers({
        //             "content-type":"application/json"
        //         })
        //     }).then(function(response){
        //         return response.json();
        //     }).then(function(username){
        //             data={
        //                 "name" : username
        //             }
        //             console.log(data)
        //         })
        //     };
        // ;         
    </script>
</html>